:root {
  --basic-layout-border: 1px solid black;
  --basic-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  --light-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}


@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400&family=REM:wght@200;300;400;500&display=swap');


* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: 'REM', sans-serif;
  color: black;
  box-sizing: border-box;
}

body {
  background-color: rgb(248, 250, 251);
  height: 100vh;
}

/* main grid */

#main-grid {
  display: grid;
  grid-template-columns: max(15vw, 280px) 1fr;
  padding: 20px;
  height: 100%;
  gap: 20px;
}

/* header */

/* project overview */

#overview {
  grid-column: 1 / 2;
  height: 100%;
  overflow-y: auto;
  box-shadow: var(--basic-box-shadow);
  border-radius: 4px;
  background-color: white;
}

#project-display {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#project-display > p {
  font-size: 1.5rem;
  font-weight: 500;
}

#project-items {
  margin-top: 10px;
  padding: 10px 0;
  gap: 10px;
  display: flex;
  flex-direction: column;
  font-weight: 300;
}

.project-item {
  padding: 10px;
  border-radius: 4px;
  border-left: 5px solid #25444141;
  /* border-bottom: 1px solid #25444141; */
  transition: 0.2s ease-in-out;
}

.project-item:hover {
  cursor: pointer;
  border-color: #254441;
}

#add-project {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 300;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

#add-project:hover {
  cursor: pointer;
  color: #569c95;
}

#add-project-form {
  flex-direction: column;
  gap: 10px;
}

#add-project-form > * {
  font-weight: 300;
}

#add-project-input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 4px;
}

#project-add-buttons {
  display: flex;
  gap: 5px;
}

#project-add-buttons > button {
  width: 100%;
  padding: 10px 0;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

#add-project-button {
  background-color: #99e1d9;
}

#add-project-button:hover {
  background-color: #b2ddd8;
}

#cancel-add-project-button {
  background-color: #e893a2;
}

#cancel-add-project-button:hover {
  background-color: #e8a7b3;
}

/* project bench */

#project-bench {
  display: flex;
  /* padding: 20px; */
  flex-direction: column;
  align-items: center;
  grid-column: 2 / 3;
  /* box-shadow: var(--basic-box-shadow); */
  border-radius: 4px;
}

#project-bench > p {
  font-size: 1.7rem;
  font-weight: 500;
  align-self: start;
  padding: 10px 20px;
  width: 100%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background-image: linear-gradient(90deg, #F8FFE5, 50%, #7DDE92, #2EBFA5 );
}

#task-display-container {
  width: 100%;
}

#task-display {
  flex-direction: column;
  padding: 10px;
  background-color: white;
  box-shadow: var(--basic-box-shadow);
}

.task-item {
  display: flex;
}

.low-prio {
  background-color:  #d1b1c8;
}

.mid-prio {
  background-color:  #8c7284;
}

.high-prio {
  background-color:   #7a6174;
}

#task-details {
  display: none; 
  background-color: blanchedalmond;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
}


